@media screen and (max-width: 1441px) {

	.profile {
		padding-bottom: 1.6%;
	}

	.section1 {
		padding-bottom: 16.4%;
	}

	.section2 {
		padding-bottom: 26.3%;
	}

	.section3 {
		padding-bottom: 32.75%;
	}

	.section5 {
		padding-bottom: 5.1%;
	}

	.section5 ul li:first-child {
		margin-left: 3.5%;
	}

	.section6 {
		padding-bottom: 4.4%;
	}

}

@media screen and (max-width: 1025px) {

	.freelance i {
		padding-top: 42%;
	}

	.section1 {
		padding-bottom: 25%;
	}

	.section2 {
		padding-bottom: 30.3%;
	}

	.section3 {
		padding-bottom: 53.1%;
	}

	.section5 {
		padding-bottom: 9%;
		padding-left: 0px;
		padding-right: 0px;
	}

	.section5 ul {
		padding-top: 16%;
	}

	.section5 ul li:first-child {
		margin-left: -1%;
	}

	.box {
	  height: 50px;
	  line-height: 45px;
	  padding: 0 10px;
	}

	.section6 {
		padding-bottom: 10%;
	}

}

@media screen and (max-width: 769px) {

	h1 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}

	.full, .part, .freelance {
		padding-bottom: 2%;
	}

	.freelance i {
		padding-top: 0%;
	}

	.profile {
		overflow: hidden;
	}

	.section1 {
		overflow: hidden;
		padding-bottom: 5%;
	}

	.section1 ul {
		padding-left: 46%;
	}

	.section2 {
		overflow: hidden;
		padding-bottom: 5%;
		padding-right: 5%;
	}

	.section3 {
		overflow: hidden;
		padding-bottom: 5%;
	}


	.section3 h3:nth-child(2n+1) {
		padding-left: 45%;
	}

	.section3 p:nth-child(2n+1) {
		padding-left: 0;
	}

	.eng {
		padding-left: 37%;
	}

	.swed, .spain {
		padding-left: 40%;
	}

	.section4 {
		overflow: hidden;
		padding-bottom: 5%;
	}

	.section5 {
		overflow: hidden;
		padding-bottom: 5%;
	}

	.section5 {
		overflow: hidden;
		padding-bottom: 5%;
	}

	.section5 ul {
		padding-top: 5%;
	}

	.section5 ul li:first-child {
		margin-left: 16.5%;
	}

	.section6 {
		padding-bottom: 5%;
		overflow: hidden;
	}

	.section6 h1 {
		padding-top: 0;
		padding-bottom: 2%;
	}

	.section6 li {
		display: inline-block;
		margin-left: 2%;
	}
	
} 

@media screen and (max-width: 426px) {

	.mob-block {
		display: none;
	}

	.section1 ul {
		padding-left: 0;
	}

	.section1 li {
		padding-bottom: 3%;
	}

	.section1 i {
		margin-bottom: 3%;
		margin-right: 0;
	}

	.section2 {
		padding-right: 8%;
	}

	.mob-active {
		display: block;
		text-align: center;
	}

	.section3 h3:nth-child(2n+1) {
		padding-left: 37%;
	}

	.eng {
		padding-left: 20%;
	}

	.swed, .spain {
		padding-left: 25%;
	}

	.top-3, .add-skills {
		text-align: center;
	}

	.section5 li {
		margin-bottom: 5%;
	}

	.section5 li:nth-child(3n) {
		margin-left: 17%;
	}

	.section6 ul {
		margin-left: -13%;
	}

	.section6 li {
		display: block;
		text-align: center;
	}
	
} 

@media screen and (max-width: 376px) {

	.section5 ul li:first-child {
		margin-left: 10%;
	}

	.section5 li:nth-child(3n) {
		margin-left: 10%;
	}	
}

@media screen and (max-width: 321px) {

	h1 {
		text-align: center;
		font-size: 1.5em;
	}

	h3 {
		text-align: center;
		font-size: 1.2em;
	}

	.profile p {
		font-size: 16px;
	}

	.section3 h3:nth-child(2n+1) {
		text-align: center;
		padding-left: 0;
	}

		.eng {
		padding-left: 0;
		text-align: center;
	}

	.swed, .spain {
		padding-left: 0;
		text-align: center;
	}

	.prof-cont img {
		width: 260px;
		height: 260px;
	}

	.prof-cont h1 {
		padding-top: 10px;
	}

	.full i {
		font-size: 2.5em;
	}

	.part i {
		font-size: 2.5em;
	}

	.freelance i {
		font-size: 2.5em;
	}

	.if p {
		padding-bottom: 0;
	}

	.section1 {
		padding-left: 3%;
		padding-right: 3%;
	}

	.section2 {
		padding-right: 9%;
	}

	.section5 ul {
		padding-left: 4%;
	}
}  