body {
	font-family: 'Open Sans', sans-serif;
	color: #fffdfe;
}

h1 {
	text-align: center;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.profile {
	background-color: #7E7F9A;
	overflow: hidden;
	padding-bottom: 3px;
}

.prof-cont img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	margin-top: 20px;
	border: 5px solid #fff;
}

.prof-cont h1 {
	color: #fffdfe;
	padding-top: 30px;
	font-weight: bold;
}

.prof-cont p {
	font-size: 18px;
	padding-top: 20px;
}

.if {
	padding-top: 30px;
	display: inline;
}

.if h3 {
	font-weight: bold;
	padding-bottom: 30px;
}

.if p {
	font-size: 18px;
	padding-bottom: 10px;
	font-weight: bold;
}


.full i {
	color: green;
}

.part i {
	color: red;
}

.freelance i {
	color: green;
}

.top {
	padding-top: 30px;
}

.top h3 {
	color: #cc6156;
	padding-bottom: 30px;
}

.top-skills p {
	font-size: 18px;
	font-weight: bold;
}

.section1 {
	background-color: #97A7B3;
	padding-left: 30px;
	padding-bottom: 211px;
}

.section1 i {
	background-color: #fff;
	padding: 5px 10px;
	border: 5px solid #fff;
	border-radius: 50%;
	color: #97A7B3;
	margin-right: 10px;
	margin-bottom: 30px;
	font-size: 22px;
}

.section1 ul {
	list-style: none;
	padding-top: 30px;
	padding-left: 0px;
}

.section2 {
	background-color: #97A7B3;
	padding-left: 30px;
	padding-bottom: 22.04%;
}

.section2 p {
	font-size: 16px;
	padding-top: 30px;
}

.section3 {
	background-color: #7E7F9A;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 24.45%;
}

.section3 h1 {
	padding-top: 30px;
}

.section3 h3 {
	padding-bottom: 20px;
	padding-top: 20px;
}

.section4 {
	background-color: #97A7B3;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 27px;
}

.section4 h1 {
	padding-top: 30px;
}

.section4 h3 {
	padding-bottom: 20px;
	padding-top: 15px;
}

.section5 {
	background-color: #97A7B3;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 11px;
}

.section5 h1 {
	padding-top: 30px;
}

.section5 ul {
	list-style: none;
	padding-top: 50px;
}

.section5 ul li:first-child {
	margin-left: 16.5%;
}

.section5 a {
	text-decoration: none;
	color: #fff;
}

.box {
  position:relative;
  vertical-align: middle;
  color: #0b7;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: 0.5s;
  padding: 0 20px;
  cursor: pointer;
  border: 2px solid #0b7;
  -webkit-transition:0.5s;
}

.box:hover {
  border: 2px solid rgba(0,160,80,0);
  color: #FFF;
}

.box::before, .box::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.bar::before {
  border-bottom: 3px solid #FFF;
  border-left: 3px solid #FFF;
  -webkit-transform-origin: 100% 0%;
}

.bar::after {
  border-top: 3px solid #FFF;
  border-right: 3px solid #FFF;
  -webkit-transform-origin: 0% 100%;
}

.box:hover::after, .box:hover::before {
  -webkit-transform: scale(1);
}

.section6 {
 background-color: #7E7F9A;
 padding-bottom: 1px;
}

.section6 h1 {
	padding-top: 30px;
}

.section6 ul {
	margin-bottom: 10px;
}

.section6 li {
	list-style: none;
}

footer {
	background-color: #7E7F9A;
	padding: 10px 0;
	margin-top: -1px;
}

.mob-active {
	display: none;
}